@tailwind base;
@tailwind components;

/* aqui van los @apply junto con sus respectivas clases */
@layer components {
  /* Buttons */
  .btn {
  @apply inline-block font-medium transition duration-150 ease-in-out shadow-sm hover:shadow-md focus:shadow-md focus:outline-none focus:ring-0 active:shadow-lg
  }

  .btn-primary {
  @apply btn px-4 py-1.5 text-sm leading-tight rounded-md border-2 !bg-neutral-200 border-neutral-800 text-neutral-800 hover:border-neutral-800 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-800 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 active:border-neutral-900 active:text-neutral-900 hover:shadow-neutral-300

  }
  .btn-secundary {
  @apply rounded-lg px-6 pb-2 pt-2.5 text-sm leading-normal
  }
  .btn-tertiary {
  @apply rounded px-4 py-1.5 text-sm leading-normal border border-neutral-100 hover:bg-neutral-100 hover:text-neutral-700 focus:text-neutral-700 focus:outline-none focus:ring-0 active:text-neutral-800
  }
}
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
